sudo: false
language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
env:
  - PUPPET_GEM_VERSION="~> 2.7"
  - PUPPET_GEM_VERSION="~> 3.3"
  - PUPPET_GEM_VERSION="~> 3.7" FUTURE_PARSER="yes"
matrix:
  allow_failures:
    - rvm: 2.2
    - rvm: ruby-head
  exclude:
    - rvm: 1.9.3
      env: PUPPET_GEM_VERSION="~> 2.7"
    - rvm: 2.0
      env: PUPPET_GEM_VERSION="~> 2.7"
    - rvm: 2.1
      env: PUPPET_GEM_VERSION="~> 2.7"
    - rvm: 2.2
      env: PUPPET_GEM_VERSION="~> 2.7"
  fast_finish: true
notifications:
  email: false
